.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--style-space-24)
}

.form {
    display: flex;
    align-items: center;
    gap: var(--style-space-24)
}

.preview-img {
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

