.container {
    border: 1px solid red;
}
.search-bar {
    margin-bottom: var(--style-space-24);
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    justify-content: space-evenly;
}

.my-masonry-grid_column {
    padding-left: var(--style-space-24);
    padding-right: var(--style-space-24);
    background-clip: padding-box;
}

.img-card {
    width: 255px;
}